* {
	box-sizing: border-box;
}

.p-chat {
	color: white;
	font-size: 25px;
	font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

#log-out {
    width: 25%;
    margin-left: 37.7%;
}

.chat-list {
    overflow: scroll;
    display: block;
    width: 100%;
    height: 900px;
    color: #4D4E53;
    background: rgba(255, 255, 255, 0.1);
    background: radial-gradient(
		ellipse at left bottom,
		rgba(22, 24, 47, 1) 0%,
		rgba(38, 20, 72, 0.9) 59%,
		rgba(17, 27, 75, 0.9) 100%
	  );
	  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.7);
}

.el-list {
    width: 50%;
    color: rgb(122, 26, 82);
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    border: 1px solid rgb(204, 127, 204);
    border-radius: 15px;
    background: rgb(233, 226, 226);
    margin: 5% 25%;
    padding-left: 16px;
}

#em {
    font-size: 15px;
    color: rgb(110, 100, 100);
    padding-right: 15px;
}

.send-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}

input {
    border: 1px solid rgb(189, 170, 170);
    display: block;
    background: rgb(233, 226, 226);
    width: 800px;
	font-size: 16px;
	outline: none;
}

.send-chat input:focus{
	border: 1px solid black;
}


.submit-msg {
    width: 30%;
    margin-right: 30px;
}

.disallow-chat{
	text-align: center;
}
